.Travel-Container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;  
  margin: 10px;
  padding: 2px 15px;
  background-color: #ccc;
  border-radius: 8px;
  border: 1px solid black;
}
